@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;
	
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	
	margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}

p {
	line-height: 28px;
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

a {
	color: #f85c37;
}

a:hover, a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0px;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	background: #2d2d2d;
	border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav {	
	letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > .active > a {
	background-color: #ff7878;
}

.navbar-inverse .navbar-brand {
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 3px;
}

#headerwrap {
	background: url(../img/work_table.png) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
	background-size: 100%;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	
}

#headerwrap h1 {
	margin-top: 70px;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.w {
	padding-top: 50px;
}

.w h4 {
	font-size: 25px;
}

#dg {
	background: #e0e0e0;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#dg h4 {
	font-size: 40px; 
}

.tilt {
	transition: all 0.5s ease;
}

.tilt:hover {
	transform: rotate(-10deg);
}

#team {
	background: url(../img/teamm.jpg) no-repeat center top;
	margin-top: 30px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 735px;
	width: 100%;
}

.wb h4 {	
	font-size: 35px;	
	margin-top: 70px;
}

.wb, .w p {
	font-size: 17px; 
}

.wb pre {
	background-color: #f2f2f2; 
	font-size: 17px; 
	border: none;
}

#lg {
	background: #ebebeb;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#lg h4 {
	font-size: 40px;
	margin-bottom: 70px;
}

.hidden {
	display: none;
}

form {
	padding: 50px 50px 50px 50px;
	background-color: #fff;
	max-width: 350px;
	margin: auto;
	position: relative;
}

form input {
	width: 100%;
	margin-bottom: 10px;
	font-family: "Raleway";
	font-weight: 300;
	font-size: 20px;
	color: #333;
}

#send {
	font-family: "Raleway";
	font-weight: 300;
	font-size: 24px;
	background-color: #e66761;
	color: white;
	margin-left: -2px;
}


#dg .til {
	background-color: white;
	padding: 20px 25px 20px 25px;
	margin: 0px 30px 70px 30px;
	
}

#dg .til h4 {
	margin-bottom: 25px;
	font-size: 24px;
}

#dg .til h5 {
	font-size: 18px;
	text-align: justify;
}

#start_course {
	font-family: "Raleway";
	font-weight: 300;
	font-size: 24px;
	background-color: #78858b;
	color: white;
	margin-top: 15px;
	margin-left: 140px;
	padding: 5px 20px;
}














